In [3]:
import pandas as pd

df = pd.read_csv('one.csv', on_bad_lines='skip')

In [4]:
df

,Created,Which Kingdomcity location are you from?,Please check the relevant box,Please check the relevant box 0,Please check the relevant box 1,Please check the relevant box 2,Please check the relevant box 3,Please check the relevant box 4,Please check the relevant box 5,Please check the relevant box 6,...,Which city are you in? 4,__ 1,Sign Up to be a Carrier,Select which role or roles you'd like to volunteer in?,Additional Information,Additional Information 0,Team Member's Name,PRIVACY AND DATA,I give Kingdomcity permission to store my data as per the privacy and data policy stated above,Unnamed: 938
0,2023-01-22 11:26,"Kuala Lumpur, Malaysia",Decision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Swiss Tan (Leonard’s sister) rededicated her l...,Gideon,NaN,YES,NaN
1,2023-01-22 11:15,"Wangara, Perth",NaN,NaN,New Person,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Family recently moved to Darch and want to joi...,Retha,NaN,YES,NaN
2,2023-01-22 11:12,"Penang, Malaysia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,T,John,NaN,YES,NaN
3,2023-01-22 11:11,"Canning Vale, Perth",NaN,Join a Connect\nNew Person\nRegister for TIK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Visiting from Zim. Very keen to really connect...,Chris Zodzi,NaN,YES,NaN
4,2023-01-22 11:06,"Penang, Malaysia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-,-,NaN,YES,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,2023-01-21 09:22,"Surabaya, Indonesia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"New entry, but he has been coming to Kingdomcity.",Gerson,NaN,YES,NaN
108,2023-01-21 09:21,"Surabaya, Indonesia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"New entry, but he has been coming to Kingdomcity.",Gerson,NaN,YES,NaN
109,2023-01-21 09:20,"Surabaya, Indonesia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"New entry, but she has been serving in Kingdom...",Gerson,NaN,YES,NaN
110,2023-01-21 02:59,"Gaborone, Botswana",NaN,NaN,NaN,NaN,NaN,New Person,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Had been doing online church for years but met...,Sibo,NaN,YES,NaN
111,2023-01-21 02:51,"Gaborone, Botswana",NaN,NaN,NaN,NaN,NaN,New Person,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Just visiting,Gape Ontiretse,NaN,YES,NaN

In [5]:
df = df[df['Which Kingdomcity location are you from?']=='Kuala Lumpur, Malaysia']
df = df.dropna(axis=1, how='all')

In [6]:
df

,Created,Which Kingdomcity location are you from?,Please check the relevant box,Service Time,Fill in the person's name and contact details Id,Fill in the person's name and contact details First Name,Fill in the person's name and contact details Last Name,Fill in the person's name and contact details Email,Fill in the person's name and contact details Mobile,Fill in the person's name and contact details Gender,...,Spouse Last Name,Spouse Email,Spouse Mobile,Spouse Gender,Spouse Birthday,Spouse Relationship,Spouse,Additional Information 0,Team Member's Name,I give Kingdomcity permission to store my data as per the privacy and data policy stated above
0,2023-01-22 11:26,"Kuala Lumpur, Malaysia",Decision,9AM,274450,Swiss,Tan,noemail@gmail.com,132288881,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Tan (Leonard’s sister) rededicated her l...,Gideon,YES
17,2023-01-22 10:52,"Kuala Lumpur, Malaysia",New Person,9AM,274412,T Vijay,Vijay,vijayandran@yahoo.Com,122080645,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,New to church\nLawyer at the High Court \nBrou...,Arjan Dass,YES
19,2023-01-22 10:50,"Kuala Lumpur, Malaysia",New Person,9AM,274411,Jeremy,Foong,jeremyfoong1998@gmail.com,197351269,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,New to church\nWould love to get to know ppl\n...,Arjan Dass,YES
24,2023-01-22 10:44,"Kuala Lumpur, Malaysia",Decision\nNew Person,9AM,274403,Pharthiv,Vijaya Chander,asappharthiv@gmail.com,1112832007,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Student accepted Christ the first time. The ph...,Alvin,YES
25,2023-01-22 10:42,"Kuala Lumpur, Malaysia",New Person,9AM,274402,Allen,Romero,jevris.romero@gmail.com,12177217257,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,From Chicago USA. Would like to know if there ...,Ben Gasper,YES
26,2023-01-22 10:41,"Kuala Lumpur, Malaysia",New Person,9AM,274401,Jonathan,Cheong,jkmcheong@gmail.com,173800025,Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"From Auckland, NZ\nHere for cny holidays with fam",mark lim,YES
27,2023-01-22 10:40,"Kuala Lumpur, Malaysia",New Person,NaN,274400,Jeremy,Cheong,ezrakentucky@gmail.com,122882892,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"from auckland, NZ\nhere for holiday cny",mark lim,YES
28,2023-01-22 10:39,"Kuala Lumpur, Malaysia",Decision\nNew Person\nTIK Interest,9AM,274399,Jessica,Raman,jessicaraman61@gmail.com,124634887,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,She is away in Penang for this week but will c...,grace A,YES
29,2023-01-22 10:39,"Kuala Lumpur, Malaysia",New Person,9AM,274398,Daniel,Cheong,cheongkenghua@gmail.com,173250750,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"From NZ, Auckland\nHere for the holidays",Mark Lim,YES
30,2023-01-22 10:39,"Kuala Lumpur, Malaysia",New Person,9AM,274397,Saraswathi,Raman,jessicaraman61@gmail.com,124634887,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,New comer,daniel selvasee,YES
31,2023-01-22 10:37,"Kuala Lumpur, Malaysia",New Person\nTIK Interest,9AM,274396,Ricky,Thoo,notgiven@thetime.com,601156263807,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"""Free thinker"" Brought to KC by friend (who di...",Jason Chai,YES
32,2023-01-22 10:37,"Kuala Lumpur, Malaysia",New Person,9AM,274395,Annabel,Cheong,cheongaijan@gmail.com,177758300,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"from NZ,Auckland\nhere for cny holiday to visi...",mark lim,YES
33,2023-01-22 10:36,"Kuala Lumpur, Malaysia",Join a Connect,9AM,109583,Kathryn,Liew,nosarimbo@gmail.com,"=""016 316 1809""",Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Want to know more about green house,daniel selvasee,YES
34,2023-01-22 10:36,"Kuala Lumpur, Malaysia",Join a Connect\nNew Person\nTIK Interest,9AM,274394,Steffiny,Sengabi,steffinysengabi@gmail.com,192885320,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Join connect around Bandar puteri, puchong",carmillus,YES
35,2023-01-22 10:35,"Kuala Lumpur, Malaysia",Decision\nNew Person,9AM,274393,Valerie,Tan,Valeriekwtan@yahoo.com,"=""0413 915 348""",Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"First time visiting Kingdomcity KL, she rededi...",Jovina Chan,YES
36,2023-01-22 10:35,"Kuala Lumpur, Malaysia",Join a Connect,9AM,109583,Kathryn,Liew,nosarimbo@gmail.com,"=""016 316 1809""",Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Want to know more about green house,daniel selvasee,YES
37,2023-01-22 10:35,"Kuala Lumpur, Malaysia",Decision,9AM,274392,Marisa Faith,Kintu,marisakins36@gmail.com,60148355346,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Rededication, Pastor paul connect",vivy,YES
38,2023-01-22 10:34,"Kuala Lumpur, Malaysia",New Person,9AM,274390,Stephanie Anak,Ahchi,stephniecci@gmail.com,136332090,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Connects puchong,carmellius,YES
39,2023-01-22 10:33,"Kuala Lumpur, Malaysia",New Person,9AM,274388,Kevin,Kan,kan_win@yahoo.com,85296490877,Male,...,Chan,***,****,Unknown,2023-01-22,Spouse,Spouse is new,From Hong Kong\nHere for CNY\nWife and daughter,Joshua L,YES
40,2023-01-22 10:32,"Kuala Lumpur, Malaysia",Decision,9AM,274386,Dr Roy,Sugiowantono,roybillionaires@gmail.com,06282244817667,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Visiting from Surabaya \nWife is in KL for an ...,Ehsan Sivarajah,YES
41,2023-01-22 10:31,"Kuala Lumpur, Malaysia",Join a Connect\nNew Person\nTIK Interest,9AM,274385,Shireen,Wong,shireenawyl@gmail.com,6591330055,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prefer a working adult group,vivy,YES
42,2023-01-22 10:31,"Kuala Lumpur, Malaysia",Decision\nJoin a Connect,9AM,274383,Sarralina,Selvasee,cheryln_s@yahoo.com,125245495,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bandar Puteri - Daniel Selvasee Connect leader...,Grace Isabella,YES
43,2023-01-22 10:24,"Kuala Lumpur, Malaysia",Decision,9AM,47391,Elisheba,Yisrael,elishebayisrael663@gmail.com,173479500,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Melanie p - connect leader,vivy,YES
44,2023-01-22 09:35,"Kuala Lumpur, Malaysia",New Person\nTIK Interest,9AM,149399,Jenny,Chan,jennykhchan@gmail.com,"=""0149 686 827""",Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Attending a connect group in SS1\n-Nic 9am-,Adjan,YES
45,2023-01-22 09:33,"Kuala Lumpur, Malaysia",TIK Interest,9AM,158121,John,Gan,johnathan.ghs@gmail.com,60163575578,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Serving in Connect Lounge,Joshua Lim,YES